@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(rgba(217, 162, 143, 0.2), rgba(149, 176, 217, 0.2));
  overflow: hidden;
}
h1 {
  position: relative;
  margin-top: 4rem;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 3px;
  color: #ba7f6a;
  margin-bottom: 2rem;
}
.form {
  padding: 15px 2rem;
  position: relative;
  margin: auto;
  background: #fff;
  width: 70%;
  border-radius: 10px;
}
.form div {
  margin: 2.3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form div label {
  width: 300px;
  color: #222;
  margin-right: 10px;
  font-size: 2rem;
}
.form div input[type="text"] {
  width: 450px;
  outline: none;
  border: 2px solid #868686;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.form div input[type="text"]:focus {
  border: 2px solid #000000;
}
.form .btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.form .btn input[type="submit"] {
  padding: 4px 18px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #e4bcb4;
  background: #e4bcb4;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.form .btn input[type="submit"]:hover {
  background: #b69790;
  border: 1px solid #b69790;
}
